.storageBar {
    height: 6px;
    background-color: $light;
    display: block;
    position: relative;
    margin: .5rem auto;
    border-radius: 12px;
    overflow: hidden;
    .storageBar-progress {
        height: 100%;
        background-color: $primary;
    }
}

.storageProgress-container {
    .power-by-unik-name {
        a, a:hover, a:focus, a:visited {
            color: #fff;
            font-size: 10px;
            font-weight: bold;
            text-transform: uppercase;
            text-decoration: none;
        }
        margin-bottom: 1rem;
    }
}